
.icon-home:before { content: '\e800'; } /* '' */
.icon-article:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */